// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
  position: relative;
}
.position{
  padding-top: 30px;
  width: 100%;
  bottom: 0;
  color: white;
  text-align: center;
  font-size: 10px;
}
body{
  background-color:rgb(239, 243, 247);
  min-height: 100%;
}
header{
  background-color:rgb(113, 178, 238);  
}
footer{
  background-color:rgb(113, 178, 238);
}
.index_table{
  padding:5px 5%;
  margin:5px 0px;
  border-radius: 4px;
  color: rgb(98, 238, 5);
  border-color: rgb(238, 5, 17);
}
.tweet{
  padding:5px 5%;
}